<header class="profile-header">
  <div class="container">
    <div class="profile-info">
      <div class="avatar profile-avatar">
        {{#if user.agent}}
          <span class="icon-agent"></span>
        {{/if}}
        <img class="user-avatar" src="{{user.avatar_url}}" alt=""/>
      </div>
      <div class="basic-info">
        <h1 class="name">
          {{#if user.url}}
            <a href="{{user.url}}" target="_zendesk_lotus" title="{{t 'open_user_in_support'}}">{{user.name}}</a>
          {{else}}
            {{user.name}}
          {{/if}}
        </h1>
      </div>
      <div class="options">
        {{#if private_profile}}
          <span class="profile-private-badge">{{t 'private'}}</span>
        {{/if}}
        {{edit}}
        <div class="community-follow">{{subscribe}}</div>
      </div>

      {{#if description}}
        <p class="description">{{description}}</p>
      {{/if}}

      <ul class="profile-stats profile-stats-activity">
        <li class="stat">
          <span class="stat-label">{{t 'last_activity'}}</span>
          <span class="stat-value">
            {{#if last_activity_at}}
              {{date last_activity_at timeago=true}}
            {{else}}
              {{t 'no_activity_yet'}}
            {{/if}}
          </span>
        </li>
        <li class="stat">
          <span class="stat-label">{{t 'member_since'}}</span>
          <span class="stat-value">
            {{#if member_since}}
              {{date member_since format='medium'}}
            {{else}}
              {{t 'no_activity_yet'}}
            {{/if}}
          </span>
        </li>
      </ul>
    </div>

    <ul class="profile-stats profile-stats-counters">
      <li class="stat">
        <span class="stat-label">{{t 'votes'}}</span>
        <span class="stat-value">{{vote_count}}</span>
      </li>
      <li class="stat">
        <span class="stat-label">{{t 'subscriptions'}}</span>
        <span class="stat-value">{{subscription_count}}</span>
      </li>
    </ul>

  </div>
</header>
